{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <h1>Flask-Admin</h1>
            {% if current_user.is_authenticated %}
            <p>Hi {{ current_user.student_name }}! Welcome to the admin page.</p>
            <a class="btn btn-primary" href="{{ url_for('view.get_data') }}"><i class="glyphicon glyphicon-chevron-left"></i> {{ _gettext('Back') }}</a>
            {% endif %}
            {% if current_user.is_anonymous %}
            <p>This is an admin page. Login to get access</p>
            <a class="btn btn-primary" href="{{ url_for('auth.login') }}"><i class="glyphicon glyphicon-chevron-left"></i> {{ _gettext('Back') }}</a>
            {% endif %}
      </div>
  </div>
</div>
{% endblock %}